

html {

  height:100%;
  animation: fadeIn 1s;

  }

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica.woff') format('woff');
    font-weight: 400;
  }

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/HelveticaMed.woff') format('woff');
    font-weight: 600;
}


@font-face {
    font-family: "Helvetica";
    src: url("../fonts/Helvetica-Bold.woff") format('woff');
    font-weight: 800;
}


.mute {


  margin-top:auto;
  bottom:2%;
  left:2%;
  position:absolute;
  background-color: rgba(0,0,0,0);
}


.home_quote {
top:0px;
margin-top:8%;
margin-bottom:auto;
color:white;
font-size:20px;
padding:2%;



}



.logo-sc {
  font-family: 'Helvetica';
  font-weight: bold;
}


.sub-nav {
  line-height:1;
  font-size: 16px;
  text-decoration: none;
  color: #74767C;

}

html {
    font-family: 'Helvetica';
}

td, th, tr {
  font-family: 'Helvetica';
  font-weight: normal;

}


#myInput {

  padding: 0px;
}

h1 {
color: pink;
font-family: 'Helvetica' !important;

}

.archive_thumb {
  max-height: 150px;
margin-right:4px;
}

.archive_row_selected {

  color:#2E2F32 !important;
}

.icons a i {
  text-decoration: none;
  color: #2E2F32;
  font-size:18px;
}

td.archive_col {

  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

.icons a {
  text-decoration: none;

}

.address_desc {
  font-size: 14px;
  color: #2E2F32;
}

.address_head {
  font-size: 16px;
  font-style: 'Helvetica';
  font-weight:600;
  color: #2E2F32;
}

.map_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  /* width: 100%; */
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0,0,0,0.7);

}

.map_text {
  color: white;
  font-size: 14px;
  position: absolute;
  text-decoration:none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.map_text:hover {
  text-decoration: none;
}




.map {

  position: relative;

}

.map:hover .map_overlay {
  opacity: 1;
}




.contact_desc {
  font-size: 14px;
  color: #2E2F32;
}


p{
font-family: 'Helvetica' !important;

}

a, span {

font-family: 'Helvetica' !important;
}

.markselection {

  opacity:1 !important;
transition : opacity 1s ease-in-out !important;
  			 color: #C4C4C4 !important;

}



.no-border {
  border: 0px solid white;

}

td {
  color: #BABBBE;
  border-bottom-width:0px !important;
  border-top: 1px solid #C4C4C4;
}

.archive_photos td {
border-top: 0px solid white;

}
th {
  border-bottom: 1px solid rgb(222, 226, 230);
    border-top: 1px solid rgb(222, 226, 230);
  padding-bottom: 20px !important;
    padding-top: 20px !important;
}


tbody {

  border-top:0px !important;
}

tr:hover td {
  color: #EC018C;
}


/* td {

border: 1px solid black;
}
*/

.tablesorter-header-inner {
  color: #74767C;
  font-weight:normal !important;

}

.tablesorter-headerAsc .tablesorter-header-inner, .tablesorter-headerDesc .tablesorter-header-inner  {
color: #2E2F32 !important;
}

.tablesorter-header-inner:hover {

    color: #EC018C;
}

.nav-item {

  padding-left:0px;
  padding-right:0px;
}
.project_name {

position:absolute;
padding-top:10px;
line-height: 1.2;
font-size: 12px;
color: #2E2F32;


opacity: 0;
display:block;
}



img:after{
content: "hbhhb";
display: block;
padding-bottom: 100%;
}

.filter_list {
  padding-right:20px;
  font-size:16px;
color: rgba(0,0,0,.45);
  text-decoration: none;
}

.filter_list:focus, .filter_list:hover {
color:#EC018C !important;
}

.active {
color: #2E2F32;
}

.mysqr:hover .project_name {

  opacity: 1;
  transition: opacity 0.3s;
 -webkit-transition: opacity 0.3s;
}

.mysqr:hover img{
/* border: 1px solid white; */
transition: opacity 0.9s;
-webkit-transition: opacity 0.9s;

}

.strong {
font-size: 12px;
}

.mysqr {
  overflow: hidden;
}

.highlight {
  background-color: yellow;
}



mark {
  background-color: white !important;
  color: #EC018C !important;
  font-size:14px;
  height:12px !important;
  padding:0px !important;
}

/* mark {
  background-color: white !important;
  color:#2E2F32 !important;
  font-size:14px;
  height:12px !important;
  padding:0px !important;
} */

input:focus {
   color: #ec018c !important;
}

input:focus {
   color: #ec018c !important;
}


.tablesorter-headerAsc .tablesorter-header-inner::after {

  color: black !important;
width:16px;
height:16px;
content: "";
background-image: url('../img/svg/arrow-down-short.svg');
background-repeat:no-repeat;
  background-size: 1.2rem 1.2rem;
 display: inline;
 /* margin-left:100%; */

 float:right;
 position:absolute;

}

.tablesorter-headerDesc .tablesorter-header-inner::after {

  color: black !important;
width:16px;
height:16px;
content: "";
background-image: url('../img/svg/arrow-up-short.svg');
background-repeat:no-repeat;
  background-size: 1.2rem 1.2rem;
 display: inline;
 /* margin-left:100%; */

 float:right;
 position:absolute;

}


.tablesorter-header-inner{
  float:left;
}

#myInput {
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 1px;
}

#myInput:focus, #myInput:active, #myInput_mobile:focus, #myInput_mobile:active {
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 1px;

}

#myInput_mobile {
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 1px;
}


input:focus {
   outline-color: transparent;
}

input:focus::placeholder {
color: transparent;
}

.place {
  border: 0px solid green;

}



.mysqr .width {

  width:100%;
  height: auto;


}

.mysqr .height {


  height: 100%;
  width: auto;


}


.people_sqr .width {

  width:100%;
  height: auto;

}

.people_sqr .height {


  height: 100%;
  width: auto;

}


.nav-link {
color:rgba(0,0,0,.55) ;
}


.mysqr {


  display: flex;
  justify-content: center;
  align-items: center;
  overflow: none;
  background-color:#ffffff;
  padding: 2% !important;



}

.projecta {
  height:100%;
}

.projecta img, .projectb img
{
    filter:brightness(120%) saturate(70%) grayscale(20%)  ;
  }

.people_sqr {


  overflow: none;
  /* background-color:#ffffff; */



}

.people_sqr:hover .project_name {

  opacity: 1;
  transition: opacity 0.3s;
 -webkit-transition: opacity 0.3s;
}


nav  {
  padding: 2%;
}

.archive_container {
  padding-left:2%;
  padding-right:2%;
}

.navbar {
  padding-top:20px !important;
}

.navbar-brand {
  font-size:22px;
}

/* .mysqr {
  border:1px solid black;
} */

/*
@media screen and (min-device-width: 992px)  {

  .mysqr {
    height: 16.6vw;
  }

  .people_sqr {
    width: ;
  }
}

@media screen and (max-device-width: 992px) {

  .mysqr {
    height: ;
  }

  .people_sqr {
    width: ;
  }
}

@media screen and (max-device-width: 768px) {

  .mysqr {
    height: 25vw;
  }

  .people_sqr {
    width: ;
  }
}

@media screen and (max-device-width: 576px) {

  .mysqr {
    height: 100vw;
  }

  .people_sqr {
    width: ;
  }
} */


@media screen and (max-device-width: 575px) {

  .mysqr {
    height: auto !important;
    width:100% !important;
    margin:30px 0px;
  }

  .mysqr .height {


    width: 100%;
    height: auto;
      filter:brightness(110%) saturate(70%) grayscale(10%)  ;

  }

}



td:nth-child(1) {
width:5%;
 }
 td:nth-child(2) {
 width:20%;
  }
  td:nth-child(3) {
  width:5%;
   }
   td:nth-child(4) {
   width:20%;
    }
    td:nth-child(5) {
    width:15%;
     }
     td:nth-child(6) {
     width:10%;
      }
      td:nth-child(7) {
      width:15%;
       }
       td:nth-child(8) {
       width:10%;
        }


        .archive_photos td:nth-child(1) {
          width:5%;
        }




        @media screen and (max-device-width: 991px) {

          .context {
            margin-top:10px;
          }


.navbar-toggler {
  z-index:5000;
    transition: .5s ease;
}

.navbar-collapse {
background-color: white;
height: 100vh;
top: 0px;
left: 0px;
position: absolute;
width: 100%;
z-index:500;
}

.navbar-brand {
z-index: 5000;
  transition: .5s ease;

}

.navbar-nav {
  width:100% !important;
  height:100vh;
    justify-content:center !important;
}

.nav-item,  .nav-link {

font-size:48px;
padding:3% !important;

}

.sub-nav {
  padding:1%;
  font-size:12px;
}

.sub-nav-block {
  margin-bottom: 20px;
}

	.bottom_nav {
    display:block;
  }
      }


              @media screen and (min-device-width: 992px) {
                .navbar-projects {
                height:180px;
              }

.sub-nav {
  line-height:1.1;
}

.navbar-process {
  height:100px;
}

              .filters_list {
                margin-top:-10px;
              }

                 .nav-item {
                  padding-left: 50px;
                }

                /* .navbar-nav {
                  width:50% !important;
                } */

              .bottom_nav {
        display:none;
      }
      .context {
        margin-top:20px !important;
      }


}

aria-expanded="true"
