@font-face {
    font-family: "Helvetica";
    src: url("../fonts/Helvetica.woff") format('woff');
    font-weight: normal;
}


@font-face {
    font-family: "Helvetica";
    src: url("../fonts/HelveticaMed.woff") format('woff');
    font-weight: 600;
}

@font-face {
    font-family: "Helvetica";
    src: url("../fonts/Helvetica-Bold.woff") format('woff');
    font-weight: bold;
}




.logo-sc {
  font-family: 'Helvetica';
  font-weight: bold;
}


.sub-nav {
  line-height:1;
  font-size: 16px;
  text-decoration: none;
  color: #74767C;

}

html {
    font-family: 'Helvetica';
}

td, th, tr {
  font-family: 'Helvetica';
  font-weight: normal;

}


#myInput {

  padding: 0px;
}

h1 {
color: pink;
font-family: 'Helvetica' !important;

}

.archive_thumb {
  max-height: 150px;
margin-right:4px;
}

.archive_row_selected {

  color:#2E2F32 !important;
}

.icons a i {
  text-decoration: none;
  color: #2E2F32;
  font-size:18px;
}

td.archive_col {

  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

.icons a {
  text-decoration: none;

}

.address_desc {
  font-size: 14px;
}

.address_head {
  font-size: 14px;
  font-style: 'Helvetica';
  font-weight:600;
}




.contact_desc {
  font-size: 14px;
}


p{
font-family: 'Helvetica' !important;

}

a, span {

font-family: 'Helvetica' !important;
}

.markselection {

  opacity:1 !important;
transition : opacity 1s ease-in-out !important;
  			 color: #C4C4C4 !important;

}



.no-border {
  border: 0px solid white;

}

td {
  color: #BABBBE;
  border-bottom-width:0px !important;
  border-top: 1px solid #C4C4C4;
}

.archive_photos td {
border-top: 0px solid white;

}
th {
  border-bottom: 1px solid rgb(222, 226, 230);
    border-top: 1px solid rgb(222, 226, 230);
  padding-bottom: 20px !important;
    padding-top: 20px !important;
}


tbody {

  border-top:0px !important;
}

tr:hover td {
  color: #EC018C;
}


/* td {

border: 1px solid black;
}
*/

.tablesorter-header-inner {
  color: #74767C;
  font-weight:normal !important;

}

.tablesorter-headerAsc .tablesorter-header-inner, .tablesorter-headerDesc .tablesorter-header-inner  {
color: #2E2F32 !important;
}

.tablesorter-header-inner:hover {

    color: #EC018C;
}

.nav-item {

  padding-left:0px;
  padding-right:0px;
}
.project_name {

position:absolute;
padding-top:6px;
line-height: 1.2;
font-size: 13px;
color: #2E2F32;


opacity: 0;
display:block;
}



img:after{
content: "hbhhb";
display: block;
padding-bottom: 100%;
}

.filter_list {
  padding-right:20px;
  font-size:16px;
  color:#BABBBE;
  text-decoration: none;
}

.filter_list:focus, .filter_list:hover {
color:#EC018C !important;
}

.active {
color: #2E2F32;
}

.mysqr:hover .project_name {

  opacity: 1;
  transition: opacity 0.3s;
 -webkit-transition: opacity 0.3s;
}

.mysqr:hover img{
/* border: 1px solid white; */
transition: opacity 0.9s;
-webkit-transition: opacity 0.9s;

}

.strong {
font-size: 14px;
}

.mysqr {
  overflow: hidden;
}

.highlight {
  background-color: yellow;
}



mark {
  background-color: white !important;
  color: #EC018C !important;
  font-size:14px;
  height:12px !important;
  padding:0px !important;
}

/* mark {
  background-color: white !important;
  color:#2E2F32 !important;
  font-size:14px;
  height:12px !important;
  padding:0px !important;
} */

input:focus {
   color: #ec018c !important;
}

input:focus {
   color: #ec018c !important;
}


.tablesorter-headerAsc .tablesorter-header-inner::after {

  color: black !important;
width:16px;
height:16px;
content: "";
background-image: url('../img/svg/arrow-down-short.svg');
background-repeat:no-repeat;
  background-size: 1.2rem 1.2rem;
 display: inline;
 /* margin-left:100%; */

 float:right;
 position:absolute;

}

.tablesorter-headerDesc .tablesorter-header-inner::after {

  color: black !important;
width:16px;
height:16px;
content: "";
background-image: url('../img/svg/arrow-up-short.svg');
background-repeat:no-repeat;
  background-size: 1.2rem 1.2rem;
 display: inline;
 /* margin-left:100%; */

 float:right;
 position:absolute;

}


.tablesorter-header-inner{
  float:left;
}

#myInput {
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 0px;
}

#myInput:focus, #myInput:active {
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 1px;

}


input:focus {
   outline-color: transparent;
}

input:focus::placeholder {
color: transparent;
}

.place {
  border: 1px solid green;
}



.mysqr .width {

  width:100%;
  height: auto;

}

.mysqr .height {


  height: 100%;
  width: auto;

}


.people_sqr .width {

  width:100%;
  height: auto;

}

.people_sqr .height {


  height: 100%;
  width: auto;

}




.mysqr {


  display: flex;
  justify-content: center;
  align-items: center;
  overflow: none;
  background-color:#ffffff;
  padding: 2%;



}


.people_sqr {







  overflow: none;
  background-color:#ffffff;



}

.people_sqr:hover .project_name {

  opacity: 1;
  transition: opacity 0.3s;
 -webkit-transition: opacity 0.3s;
}


nav  {
  padding: 2%;
}

.archive_container {
  padding-left:2%;
  padding-right:2%;
}

.navbar {
  padding-top:20px;
}

.navbar-brand {
  font-size:22px;
}

/* .mysqr {
  border:1px solid black;
} */


@media screen and (min-device-width: 992px)  {

  .mysqr {
    height: 16.6vw;
  }

  .people_sqr {
    width: ;
  }
}

@media screen and (max-device-width: 992px) {

  .mysqr {
    height: ;
  }

  .people_sqr {
    width: ;
  }
}

@media screen and (max-device-width: 768px) {

  .mysqr {
    height: 25vw;
  }

  .people_sqr {
    width: ;
  }
}

@media screen and (max-device-width: 576px) {

  .mysqr {
    height: 100vw;
  }

  .people_sqr {
    width: ;
  }
}



td:nth-child(1) {
width:5%;
 }
 td:nth-child(2) {
 width:20%;
  }
  td:nth-child(3) {
  width:5%;
   }
   td:nth-child(4) {
   width:20%;
    }
    td:nth-child(5) {
    width:15%;
     }
     td:nth-child(6) {
     width:10%;
      }
      td:nth-child(7) {
      width:15%;
       }
       td:nth-child(8) {
       width:10%;
        }


        .archive_photos td:nth-child(1) {
          width:5%;
        }
=
